/* .main_parent{
    display: flex;
} */
.main_parent aside{
    width: 25%;
    height: 100vh;
    /* background-image: url("../images/mobile_bg.png");
    background-size: cover; */
    background: #f2f3f7;
    /* background: #2424; */
    /* background: #242424; */
    color: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}
.left_bar_article .img_left{
    width: 54%;
    margin: 0 auto;
    box-shadow: 4px 4px 12px 1px #2424;
}
.details_div{
    /* padding: 12px; */
}
.details_div ul{
    margin-bottom: 10px;
}
.owner{
    font-size: 32px;
    font-weight: 700;
}
.left_ul_first{
    padding: 5px 0;
    margin-bottom: 10px;
    font-weight: 700;
}
hr{
    margin: 5px ;
}
.left_ul_socialMedia li a{
    color: #333;
}
.left_ul_socialMedia li a i:hover{
    transform: rotate(360deg);
    transition: .3s ease;
}
.tit{
    margin-bottom: 0;
}
.love{
    font-size: 14px;
    color: silver;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.love i{
    color: lightcoral;
}
.thanks{
    font-size: 15px;
    color: silver;
}
.thanks i{
    background: yellow;
    border-radius: 64px;
    width: 15px;
    color: #999;
}
.left_ul_intro li a{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}
.left_ul_intro li a.active{
    color: lightcoral;
    border-bottom: 2px solid lightcoral;
}
.left_ul_intro li a.active:hover{
    color: lightcoral;
    border-bottom: 0;
}

.left_ul_intro li a::after{
    content:"";
    display: block;
    width: 0;
    height: 2px;
    background: lightcoral;
    transition: width .3s;
}
.left_ul_intro li a:hover::after{
    width: 100%;
}
.span_bar, .span_x{
    display: none;
}

@media (max-width:768px){
    .main_parent aside{
        display: none;
    }
    .right_bar_parent {
        width: 100%!important;
        float: none!important;
    }
    .main_parent aside{
        width: 92%;
        display: block;
        background: none;
        /* background-image: url("../images/mobile_bg.png"); */
        /* background-size: cover; */
        background: #f2f3f7;
        left: -100%;
        /* width: 0; */
        transition: .3s ease-out;
    }
    .aside_left{
        left: 0!important;
        /* width: 90%!important; */
        transition: .3s ease-in;
    }
    .span_bar{
        display: block;
        position: absolute;
        left: 12px;
        top: 10px;
        font-size: 22px;
        transition: .3s ease-in;
        padding: 10px;
        border-radius: 50px;
        color: #fff;
        z-index: 2;
    }
    .span_x{
        display: block;
        position: absolute;
        right:10px;
        top: 1px;
        padding: 10px;
        border-radius: 50px;
        color: #191a1d;
        z-index: 2;
        font-size: 25px;
    }
    
    /* .left_bar_article .img_left{
        width: 40%;
        margin-left: -40px;
    } */
    .owner {
        font-size: 27px;
        font-weight: 300;
    }
    .left_ul_first{
        font-size: 13px;
        font-weight: 300;
    }
    .left_ul_intro li a{
        font-weight: 300;
   }
   .left_ul_socialMedia li a{
    color: #97989a;
   }
   .love{
    font-weight: 300;
   }
   .line{
       width: 37px;
       height: 2px;
       background: lightgray;
       margin-bottom: 6px;
   }
   .line_x{
    width: 25px;
    height: 3px;
    background: silver;
    margin-bottom: 5px;
    position: absolute;
   }
   .line_x:first-child{
    transform: rotate(45deg);
    right: 14px;
    top: 22px;
   }
   .line_x:last-child{
    transform: rotate(-45deg);
    right: 14px;
    top: 22px;
   }
}