* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}
.App {
  text-align: center;
}
.default_title_style{
  font-family: 'Playfair Display', serif;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.mar_bot{
  margin-bottom: 70px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
